@import "../../styles.scss";

.contentPage {
  width: 100%;
  margin-top: 90px;
  .pageTitle {
    margin: 0;
    text-align: left;
    color: $primary-color;
    text-shadow: 2px 2px 4px rgba($primary-color, 0.7);
    @include responsive-padding(1rem, 1.5rem, 2rem);
  }

  .contentContainer {
    .contents {
      @include responsive-padding(1rem, 1.5rem, 2rem);
      ::ng-deep .dynamicTitle {
        text-shadow: 2px 2px 4px rgba($primary-color, 0.6);
        font-weight: 500;
        margin: 0.5rem 0;
      }
      ::ng-deep .innerParagraph {
        padding-bottom: 1rem;
      }
    }
    .chartContainer {
      @include responsive-padding(1rem, 1.5rem, 2rem);
      .legendContainer {
        .legendTitle {
          color: $secondary-color;
          text-align: left;
        }
        .legendParagraph {
          margin: 1rem;
        }
      }
    }
  }
}

@media (min-width: $breakpoint-medium) {
  .contentPage {
    .pageTitle {
      width: 70%;
      margin: auto;
    }
    .contentContainer {
      padding-top: 2rem;
      .articleContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        .item {
          width: 70%;
        }
      }
    }
  }
}

@media (min-width: $breakpoint-large) {
  .contentPage {
    .contentContainer {
      padding-top: 3rem;
    }
  }
}
