@import "../../styles.scss";
.contentPage {
  width: 100%;
  margin-top: 90px;
  .pageTitle {
    margin: 0.5rem;
    text-align: center;
    color: $primary-color;
    text-shadow: 2px 2px 4px rgba($primary-color, 0.7);
  }
  .contentContainer {
    display: flex;
    flex-direction: column;     
    }
  }