<div echarts [options]="chartOption" class="echart"></div>
<h6>Leggenda</h6>
<ul>
  <li>
    <p>
      Cycle: Il valore del ciclo di CO2, che rappresenta la concentrazione di
      CO2 misurata in parti per milione (ppm) in un determinato giorno. Questo
      valore può variare a causa di fattori stagionali e di breve termine.
    </p>
  </li>
  <li>
    <p>
      Trend: Il valore della tendenza di CO2, che rappresenta una media mobile
      della concentrazione di CO2 per eliminare le variazioni stagionali e di
      breve termine. Questo valore fornisce una visione più chiara
      dell’andamento a lungo termine delle concentrazioni di CO2.
    </p>
  </li>
</ul>
