<div class="pageSelectorContainer">
  <h4 class="sectionTitle">Cosa vuoi vedere?</h4>
  <owl-carousel-o [options]="customOptions">
    <ng-container *ngFor="let image of images">
      <ng-template carouselSlide>
        <div class="card">
          <a [routerLink]="image.routerLink">
            <div class="imageBox">
              <img
                [src]="image.imageSrc"
                [alt]="image.imageAlt"
                class="responsive"
              />
            </div>
            <div class="cardContent">
              <h5 class="cardTitle">{{ image.imageTitle | uppercase }}</h5>
              <p class="cardDescription">{{ image.imageDescription }}</p>
            </div>
          </a>
        </div>
      </ng-template>
    </ng-container>
  </owl-carousel-o>
</div>
