<app-hero-banner></app-hero-banner>
<div class="sectionContainer">
  <div class="content">
    <p>
      <strong
        >Il cambiamento climatico è una delle sfide più urgenti e complesse del
        nostro tempo.</strong
      >
      Parlare di cambiamento climatico è fondamentale per aumentare la
      <strong
        >consapevolezza, promuovere azioni concrete e informare le decisioni
        politiche e individuali</strong
      >. Il cambiamento climatico consiste nell’alterazione dei modelli
      climatici globali, principalmente a causa delle
      <strong>attività umane</strong> come l’emissione di gas serra, la
      deforestazione e l’uso intensivo di combustibili fossili.
    </p>
  </div>
</div>

<app-page-selector></app-page-selector>
