<mat-toolbar class="toolbar">
  <button
    mat-icon-button
    (click)="sidenav.toggle()"
    id="menuIcon"
    aria-label="Example icon-button with menu icon"
    [class.open]="sidenav.opened"
  >
    <mat-icon>menu</mat-icon>
  </button>

  <span class="logoContainer">
    <h1><a class="mainTitle" href="/">Earth Metrics</a></h1>
  </span>

  <span class="spacer"></span>

  <button
    class="themeSwitch"
    type="button"
    aria-label="Toggle theme"
    mat-icon-button
    (click)="toggleTheme()"
    matTooltip="Toggle theme"
  >
    <mat-icon>
      {{ theme() === "light" ? "light_mode" : "dark_mode" }}
    </mat-icon>
  </button>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav
    #sidenav
    class="sidenav"
    [fixedInViewport]="true"
    [fixedTopGap]="60"
    mode="over"
    (opened)="overlay = true"
    (closed)="overlay = false"
  >
    <div class="sideNavItems">
      <div>
        <a
          (click)="sidenav.close()"
          mat-button
          routerLink="/"
          class="sideMenuItem"
          >Home</a
        >
      </div>
      <div>
        <a
          (click)="sidenav.close()"
          mat-button
          routerLink="/pages/temperature"
          class="sideMenuItem"
          >Temperature Globali</a
        >
      </div>
      <div>
        <a
          (click)="sidenav.close()"
          mat-button
          routerLink="/pages/co2"
          class="sideMenuItem"
          >Emissioni di CO2</a
        >
      </div>
      <div>
        <a
          (click)="sidenav.close()"
          mat-button
          routerLink="/pages/methane"
          class="sideMenuItem"
          >Emissioni di Metano</a
        >
      </div>
      <div>
        <a
          (click)="sidenav.close()"
          mat-button
          routerLink="/pages/no2"
          class="sideMenuItem"
          >Emissioni di NO2</a
        >
      </div>
      <div>
        <a
          (click)="sidenav.close()"
          mat-button
          routerLink="/pages/arctic"
          class="sideMenuItem"
          >Ghiaccio Polare</a
        >
      </div>
    </div>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="mainContent">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
  <div
    class="overlay"
    *ngIf="overlay"
    (click)="sidenav.close()"
    (keydown.enter)="sidenav.toggle()"
    (keydown.space)="sidenav.toggle()"
    tabindex="0"
  ></div>
</mat-sidenav-container>
